body{
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	font-family: 'Gotu', sans-serif;
	font-size: 18px;
	color: #fff;

	background-color: #0e1621;
}

.menu{
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	width: 40%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: +1;

	/*transition: 1s;
	transform: translateX(-100%);*/
}

.menu ul{
	font-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	width:300px;
	height: 500px;


	/*border: 1px solid #27ae60;*/
}

.menu ul a{
	display: block;
	width: 300px;
	text-decoration: none;
	color: black;
	border: 1px solid #27ae60;
}

.menu .button{
	position: absolute;
	top:10px;
	right: 20px;
	color: black;
}





main{
	margin-top: 70px;
	width: 900px;
	/*border: 1px solid #c0392b;*/
	padding: 20px;

	background-color: #182633;
}

main a{
	display: block;
	margin: 0 auto;
	width: 605px;


	/*border: 1px solid #d35400;*/
}

main img{
	border: 2px solid #dbdcde;
	border-radius: 10px;
}

header{
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 70px;

	position: absolute;
	top:0;
	left:0;

	background-color: #2e6fa5;
	/*border: 1px solid #8e44ad;*/
}
header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 1230px; 
}

header a{
	text-decoration: none;
	color: #fff;
}

h1{
	text-align: right;
	width: 300px;

	/*border: 1px solid #8e44ad;*/
}

h2{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-family: sans-serif;
}

p{
	font-family: serif;
	font-size: 18px;
	font-weight: 100;
}

.line-through{
	text-decoration: line-through;
}

.underline{
	text-decoration: underline;
}

.italic{
	font-style: italic;
}

.bold{
	font-weight: bold;
}