.profileInfoContainer{
    display: flex;
    justify-content: space-between;
    /*border: 1px solid rebeccapurple;*/
}
.descriptionBlock{
    width: 500px;
    background-color: #ffffff;
    padding: 10px;
    /*border: 1px solid blue;*/
}

.contactsDataContainer{
    padding: 15px;
    /*border: 1px solid red;*/
}

.contact{
    display: flex;
    margin: 8px 0;
    /*border: 1px solid mediumorchid;*/
}
.contact div:nth-child(1){
    width: 165px;
    font-style: italic;
    /*color: #828281;*/
    /*border: 1px solid darkolivegreen;*/
}
.contact div:nth-child(2){
    width: 280px;
    color: #224b79;
    /*border: 1px solid red;*/
}




